body {
    color: orange;
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-items: center;
    text-align: center;
}

button {
    border: 3px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: blue;
    color: black;
    font-weight: bold;
    font-size: 30px;


}